<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
<Listeners>

<Listener class-name="Test.Listners" />
</Listeners>
  <test name="Personal Loan">
    <classes>
      <class name="Test.day2"/>
      <class name="Test.day1"/>
    </classes>
  </test>
  
 
  <test name="Car Loan">
 
  <parameter name="URL" value="WebloginCarLoan.com"/>
  <parameter name="APIKey/username" value="1234" />
  <classes>
  <class name="Test.day3">
  </class>
  </classes>
 
  </test>
</suite>